### Data Cleaning - Raw Data for Reviews and Ratings

In [1]:
#install langdetect 

!pip install langdetect

Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)

In [2]:
import pandas as pd
import numpy as np
from langdetect import detect

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
#found code solution from stackoverflow: https://stackoverflow.com/questions/48376580/google-colab-how-to-read-data-from-my-google-drive

from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/My Drive/kchien_data/

listings = pd.read_csv('listings.csv')

Mounted at /content/drive
/content/drive/My Drive/kchien_data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (67) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
reviews = pd.read_csv('review_comments.csv')

In [5]:
reviews.head(3)

   listing_id     id        date  reviewer_id reviewer_name                                           comments
0        2595  17857  2009-11-21        50679          Jean  Notre séjour de trois nuits.\r<br/>Nous avons ...
1        2595  19176  2009-12-05        53267          Cate                                  Great experience.
2        2595  19760  2009-12-10        38960         Anita  I've stayed with my friend at the Midtown Cast...

In [6]:
listings = listings[['id', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value']]
listings.columns = listings.columns.str.replace('id', 'listing_id')

In [7]:
#drop nulls -- dataset is large enough

listings.isna().sum()
listings.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [8]:
#drop nulls -- dataset is large enough

reviews.isna().sum()
reviews.dropna(inplace=True)

In [9]:
#merge listings and review data together

df = reviews.merge(listings, how='left', on='listing_id')
df.head(3)

   listing_id     id        date  reviewer_id reviewer_name                                           comments  review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value
0        2595  17857  2009-11-21        50679          Jean  Notre séjour de trois nuits.\r<br/>Nous avons ...                   4.7                    4.72                       4.62                   4.76                         4.79                    4.86                 4.41
1        2595  19176  2009-12-05        53267          Cate                                  Great experience.                   4.7                    4.72                       4.62                   4.76                         4.79                    4.86                 4.41
2        2595  19760  2009-12-10        38960         Anita  I've stayed with my friend at the Midtown Cast...                   4.7                    4.72                       4.62                   4.76                         4.79                    4.86                 4.41

In [10]:
#remove html code within comments

df['comments'] = df['comments'].replace('\r<br/>',' ', regex=True) 
df['comments'] = df['comments'].replace('\'',' ', regex=True)

In [11]:
#check replace worked

df['comments'].iloc[12]

'Jennifer s place is cozy and a short walking distance from Time Square. The place was big enough for two.  Jennifer left detailed instructions and was also helpful in terms of recommending great places in NY.  Everything was great:)'

In [ ]:
#detect language of comments
#used stackoverflow code to fix errors when detecting languages:
#https://stackoverflow.com/questions/63573625/langdetectexception-how-to-fix-it-by-adding-all-rows-not-detected-as-other

def detect_lang(x):
    try:
        lang = detect(x)
    except:
        lang = 'Other'
    return lang

df['language'] = df['comments'].apply(detect_lang)

In [ ]:
#check language column
df.head(3)

In [ ]:
#add word count column
df['word_count'] = df['comments'].str.count(' ')+1

In [ ]:
#check word count column
df.head(3)